<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="cancel()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Редактирование
      </p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="editForm" (submit)="save()">
        <div class="field">
          <label class="label">Название</label>
          <div class="control has-icons-right">
            <input class="input is-small" type="text" formControlName="title">
            <span class="icon is-small is-right" *ngIf="requiredTitleError">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <p class="help is-danger" *ngIf="requiredTitleError">Поле Название не должно быть пустым</p>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success is-outlined" (click)="save()">
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        <span>Сохранить</span>
      </button>
      <button class="button is-outlined" (click)="cancel()">Отмена</button>
    </footer>
  </div>
</div>