<div class="card">
  <div class="card-image">
    <figure class="image is-1by1">
      <img [src]="dish.mainPhotoUrl || DEFAULT_IMAGE_URL" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <h4 class="title is-4">{{ dish.title }}</h4>

    <div class="content">
      <span style="white-space: pre-line">{{ dish.description }}</span>
    </div>
  </div>
  <div class="card-footer">
    <a class="card-footer-item" (click)="showEditModal()">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a class="card-footer-item" (click)="showDeleteModal()">
      <span class="icon is-small">
        <i class="fas fa-trash"></i>
      </span>
    </a>
  </div>
</div>

<app-dish-delete [dish]="dish" [isModalActive]="isShownDeleteModal" (isClosed)="closeModal()"></app-dish-delete>
<app-dish-edit [dish]="dish" [isModalActive]="isShownEditModal" (isClosed)="closeModal()"></app-dish-edit>